html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
	font-family: roboto, sans-serif;
}

#head-container {
	font-family: 'Comfortaa', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
	background-color: black;
}

.corgi {
	height: 30px;
	margin-right: 5%;
	margin-left: 5%;
}

.head-text {
	background: linear-gradient(rgb(255, 192, 111), white);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	display: inline-block;
}

nav {
	background: linear-gradient(white, rgba(255, 255, 255, 0.498));
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	width: 100%;
	top: 0;
	height: 40px;
	border-bottom: 1px solid rgb(255, 192, 111);
	border-top: 2px solid black;
	z-index: 100;
}

#nav-div {
	display: flex;
	width: 50%;
	justify-content: space-evenly;
}

.link {
	text-decoration: none;
	color: black;
	font-family: roboto, sans-serif;
	font-size: 20px;
}

#akc-website {
	color: black;
	text-decoration: underline rgb(255, 192, 111);
}

.link:hover, #akc-website:hover {
	cursor: pointer;
	color: rgb(255, 192, 111);
}

.container {
	border: 2px solid rgb(111, 111, 111);
	border-radius: 30px;
	width: 30%;
	padding: 40px;
	margin: 5rem auto;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: black;
}

.contained-image {
	width: 100%;
	border-radius: 20px;
	border: 1px solid rgb(255, 192, 111);
}

.contained-text {
	color: white;
	padding: 10px;
	font-size: 30px;
}

.text-content {
	margin: 20rem 25%;
	font-size: 25px;
	letter-spacing: 1px;
}

.paragraph-head {
	font-family: 'Comfortaa', sans-serif;
	text-align: center;
	margin-top: 15rem;
}

.image {
	width: 40%;
	display: flex;
	float: left;
	margin: auto 5% 5% auto;
}

.image-carousel {
	width: 75%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	position: relative;
    height: 600px;

}

.carousel-image {
	width: 100%;
    height: 100%;
    object-fit: cover;
	border-radius: 20px;
}

.button {
	position: absolute;
    top: 0;
    height: 100%;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.button-image {
	width: 20px;
}

.left-button {
	border-radius: 20px 0 0 20px;
	left: 0;
}

.right-button {
	border-radius: 0 20px 20px 0;
	right: 0;
}

.right-button:hover {
	background: linear-gradient(to left, rgb(255, 192, 111), transparent);
	
}

.left-button:hover {
	background: linear-gradient(to left, transparent, rgb(255, 192, 111));
}

.facebook-iframe {
	width: 100%;
	max-width: 500px;
    margin: 20rem auto;
    overflow: hidden;
}

.facebook-iframe iframe {
    width: 100% !important;
    height: 700px;
}


@media screen and (max-width: 600px) {
	.head-text {
		font-size: 18px;
	}

	.container {
		width: 75%;
		padding: 15px;
	}

	.link {
		font-size: 15px;
	}

	#nav-div {
		width: 90%;
	}

	.corgi {
		height: 25px;

	}

	.text-content {
		font-size: 20px;
		margin: 10rem 15%;
	}

	.image-carousel {
		height: 200px
	}
}